<%= link_to recipe_path(recipe.id), class: "recipe_card" do %>
  <div class="recipe_card_options">
    <p class="recipe_title">
      <%=recipe.name%>
    </p>
    <%if can? :manage, recipe %>
      <%=remove_button = button_to "REMOVE", foods_path, method: :get, class: "remove_recipe_button"%>
    <%end%>
  </div>
  <p class="recipe_description">
    <%=recipe.description%> <%=recipe.description%> 
  </p>
<%end%>

  

